.dare-box {
    border-radius: 3.5rem;
}
.dare-text {
    color: rgba(172,77,218, 0.7);
}
.accept-button{
    width: 20%;
    color: rgba(18, 198, 30, 0.7);
}

.decline-button {
    width: 20%;
    color: rgba(244, 0, 0, 0.7);
}