@keyframes bounce {
  30% {transform: translateY(-10px);}
  50% {transform: translateY(0);} 
  60% {transform: translateY(-2px);}
  100% {transform: translateY(0);}
}

.success-button{
    background-color: rgba(77, 124, 15);
    color: rgba(226,232,240, 0.7);
    border-radius: 2rem;
}

.success-button:hover {
    background-color: rgb(163,230,53);
    color: white;
    cursor: pointer;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.success-button:hover > .done-text {
  animation: bounce 1s ease infinite;
}

.quit-button {
  background-color: rgb(	141, 41, 47, 0.7);
  color: rgba(226,232,240, 0.7);
  border-radius: 2rem;
}

.quit-button:hover{
  background-color: rgb(255, 0, 0);
  color: white;
  cursor: pointer;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.quit-button:hover > .quit-text {
  animation: bounce 1s ease infinite;
}

.overlay {
    z-index: 1000;
}

.overlay-content {
    z-index: 99999;
}