.home-container {
    display: relative;
}
img {
    display: absolute;
    top: 0;
    right: 0;
}
.start-button {
    width: 20%;
    color: rgba(191,172,200, 0.7);
}

.name-input:focus {
    outline-color: rgb(172,77,218);
}
