.star-pic {
  animation-name: spin;
  animation-delay: 0.25s; 
  animation-duration: 1.25s; 
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes spin {
  100% {transform: rotate(72deg);}
}

/* Chrome, Safari and Opera */
.scores-container::-webkit-scrollbar {
  width: 0.5rem; 
}

/* Track */
.scores-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 1rem;
}

/* Handle */
.scores-container::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 1rem;
} 